{% extends '@Admin/Base/index.html.twig' %}

{% block body %}
    <section class="wrapper">
        <div class="wrapper__container">
            <a href="{{ path('admin_articles') }}">
                <button class="btn-action"><i class="fas fa-plus"></i> Back</button>
            </a>

            <div class="wrapper__container--content">

                {% if app.flashes('error') is defined %}
                    {% include '@Admin/Components/Messages/error.html.twig' %}
                {% endif %}
                {% if app.flashes('info') is defined %}
                    {% include '@Admin/Components/Messages/info.html.twig' %}
                {% endif %}
                {% if app.flashes('success') is defined %}
                    {% include '@Admin/Components/Messages/success.html.twig' %}
                {% endif %}

                {{ form_start(formEdit, {'action': path('admin_articles_edit', {'slugId':formEdit.vars.value.slugId}) ,'method': 'POST', 'attr':{'novalidate':'novalidate'}}) }}
                <label for="articleTitle">Title</label>
                {{ form_widget(formEdit.title, { 'attr': {'class': 'input input-full'} }) }}
                {{ form_errors(formEdit.title)}}
                <label for="articleImage">Image</label>
                {{ form_widget(formEdit.image, { 'attr': {'class': 'input input-full'} }) }}
                {{ form_errors(formEdit.image)}}
                <div class="wrapper__container--content__textarea">
                    <label for="articleSummary">Summary</label>
                    {{ form_widget(formEdit.summary) }}
                    {{ form_errors(formEdit.summary)}}
                </div>
                <div class="wrapper__container--content__textarea">
                    <label for="articleDescription">Full Description</label>
                    {{ form_widget(formEdit.description) }}
                    {{ form_errors(formEdit.description)}}
                </div>
                {{ form_widget(formEdit.save, { 'attr': {'class': 'btn btn-primary btn-full'},'label':'Create' }) }}
                {{ form_end(formEdit) }}
            </div>
        </div>
    </section>
{% endblock %}